<%- contentFor('content') %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h1>Latest Posts</h1>
      <ul>
      <% for (var i=0; i<posts.length; i++) { %>
        <li><%= posts[i].getTitle() %> - <%= posts[i].getCreatedAt() %></li>
      <% } %>
      </ul>
    </div>
  </div>
</div>